&control_prm
  config = 1
  n_test = 10
/

&problem_prm
/

&dicretization_prm
  po = 15
/

&solver_prm
! method:
! 0  none
! 1  CG
! 2  Schwarz
! 3  Schwarz-preconditioned CG
  method = 3
  i_max  = 100
  r_red  = 1E-5
  schwarz_opt%delta = 0.2
/

&cuboid_cartesian_prm
  regular    = F ! mimic irregular mesh (elements deformed or of different size)
  structured = F ! mimic unstructured mesh
  pg = 15
  np = 1,1,<np>
  ep = 3*11
/

&cuboid_diamonds_prm
/

&cylinder_prm
/

&annulus_prm
/
