!-------------------------------------------------------------------------------
! Control

&control_prm

! log levels,  set to ≥ 1 for higher verbosity
! log_level                 = 0
! log_level_inner_iteration = 1
! log_level_outer_iteration = 1
! log_level_multigrid_cycle = 1

  problem_file = 'channel_re395'
  flow_problem = 'Channel'
  flow_domain  = 1

  eval_diss    =  T
  char_freq    = 10
  avg_rate     = <avg_rate>

  restart_tag_in  = '<restart_tag_in>'
  restart_tag_out = '<restart_tag_out>'
  restart_adjust  = <restart_adjust>
/

!-------------------------------------------------------------------------------
! Mesh

&ml_mesh_options_3d__static
  l_top   =  <l_top> ! initial top level
  l_max   =  6       ! final top level
  l_adapt =  5       ! first level to be adapted > 1
  n_bnd   =  2       ! number of boundaries to be adapted
/

&ml_mesh_options_3d__dynamic
  refinement = 3*'c', 2*'s' ! (1:l_max-1)  refinement type {'c','s'}
  n_parts    = 8 8 8 8 8 32
  adapt_bnd  = 5, 6
/

!-------------------------------------------------------------------------------
! Spatial

&spatial_prm

  po = 2, 4, 7, 3*12

  ml_ins_opt%mixed = <mixed>

  ml_ins_opt%ins_op%diffusion_solver = 'DPCG'

  ml_ins_opt%ins_op%dealiasing  = T
  ml_ins_opt%ins_op%div_stab    = <div_stab>
  ml_ins_opt%ins_op%mu_0        = <mu_0>
  ml_ins_opt%ins_op%penalty_u   = 10
  ml_ins_opt%ins_op%penalty_p   = 10
  ml_ins_opt%ins_op%i_max_v     = 100
  ml_ins_opt%ins_op%r_red       = 1e-08
  ml_ins_opt%ins_op%r_max       = 1e-12

  ml_ins_opt%ins_op%sgs_model%model    = <sgs_model>
  ml_ins_opt%ins_op%sgs_model%dynamic  = <sgs_dynamic>
! ml_ins_opt%ins_op%sgs_model%c_static = 1.35
/

!-------------------------------------------------------------------------------
! Temporal

&temporal_prm

  t_end  = 10
  dt     = <dt>
  nt_max = <nt_max>
  smooth_initial_data = T

  ml_bdf_opt%projection%p_solver%smooth_method = 3
  ml_bdf_opt%projection%p_solver%i_crs =  1000 ! max num coarse iterations          [ 1]
  ml_bdf_opt%projection%p_solver%i_max =    10 ! max num cycles                     [ 1]
  ml_bdf_opt%projection%p_solver%ns_1  =     6 ! num pre-smoothing steps            [ 1]
  ml_bdf_opt%projection%p_solver%ns_2  =     2 ! num post-smoothing steps           [ 1]
  ml_bdf_opt%projection%p_solver%ns_c  =     4 ! num continuation smoothing steps   [ 1]
  ml_bdf_opt%projection%p_solver%r_red = 1e-08 ! min residual reduction,  if > 0    [-1]
  ml_bdf_opt%projection%p_solver%r_max = 1e-12 ! max admissible residual, if > 0    [-1]

  ml_bdf_opt%diffusion%i_crs =  1000 ! max num coarse iterations          [ 1]
  ml_bdf_opt%diffusion%i_max =    10 ! max num cycles                     [ 1]
  ml_bdf_opt%diffusion%ns_1  =     6 ! num pre-smoothing steps            [ 1]
  ml_bdf_opt%diffusion%ns_2  =     2 ! num post-smoothing steps           [ 1]
  ml_bdf_opt%diffusion%ns_c  =     4 ! num continuation smoothing steps   [ 1]
  ml_bdf_opt%diffusion%r_red = 1e-08 ! min residual reduction,  if > 0    [-1]
  ml_bdf_opt%diffusion%r_max = 1e-12 ! max admissible residual, if > 0    [-1]
/

!-------------------------------------------------------------------------------
! Domain

&cuboid_cartesian_prm
  xo = 3*0.0

  ! domain extensions for Re_τ = 395         ! Δxᵢ⁺ =  Δξ/2 lᵢ/neᵢ Re_τ
  lx(1) = 6.28318530717958647688d+0   ! 2πδ  ! Δx₁⁺ =  7.2 ... 38.7
  lx(2) = 3.14159265358979323844d+0   ! πδ   ! Δx₂⁺ =  3.6 ... 19.3
  lx(3) = 2.0                         ! 2δ   ! Δx₃⁺ =  2.3 ... 12.3

  np = 1,1,1  ! num partitions per direction
  ep = 2,2,2  ! num elements per direction and partition

  periodic = T,T,F
/
