&control
! 'vortex_tg' 'vortex_hw' 'stokes_dkm' 'stokes_gms'
  flow_type     =  'vortex_tg'
  flow_case     =  'vortex_tg'
  write_stat    =  T
  write_vtk     =  F
  monitor_level =  0
/

&discretization
  np   =  1,1,1
  ep   =  2,2,1
  po_u =  16
! po_q =  24
  penalty = 2
  adjust_dx = T
/

&elliptic_solver
! u \ p
!  pmg_u_opt % po_bot  =  4
  pmg_u_opt % i_max   =  4 !4
  pmg_u_opt % r_red   =  1e-12
  pmg_u_opt % r_max   =  1e-14
! pmg_u_opt % solver  =  'Schwarz'
  pmg_u_opt % i0_max  =  1000
  pmg_u_opt % r0_red  =  1e-10
  pmg_u_opt % delta   =  0.08
  pmg_u_opt % no_min  =  1
  pmg_u_opt % monitor =  F
! p
  pmg_p_opt % i_max   =  5 !4
  pmg_p_opt % r_red   =  1e-12
  pmg_p_opt % r_max   = -1e-10
! pmg_p_opt % solver  =  'CG'
  pmg_p_opt % i0_max  =  1000
  pmg_p_opt % r0_red  =  1e-10
  pmg_p_opt % delta   =  0.08
  pmg_p_opt % no_min  =  1
  pmg_p_opt % monitor =  F
/

&time_integration
  t_end = 0.25
  dt    = <dt>
! c_conv = 0.1
! c_diff = 100
  nt_max = 1000000
!
  propagator        = <propagator>
  sdc_opt % n_sub   = <n_sub>
  sdc_opt % n_sweep = <n_sweep>
  sdc_opt % n_cpi   = <n_cpi>
/

