!-------------------------------------------------------------------------------
! Control

&control_prm

! log_level                 = 1  ! activate/increase
! log_level_inner_iteration = 1  ! for higher
! log_level_outer_iteration = 1  ! verbosity

  problem_file =  'vortex_tg'
  flow_problem =  'Vortex_TG'
  flow_domain  =  1

! export_vtk = T                 ! set T for generating plot file
  char_freq  = 20                ! set frequency of control output
/

!-------------------------------------------------------------------------------
! Spatial

&spatial_prm

  po_u = <po_u>
  po_p = <po_p>

  ins_op_opt%dealiasing = T
  ins_op_opt%penalty_p  = 20
  ins_op_opt%penalty_u  = 20
  ins_op_opt%mu_0       = <mu>
/

!-------------------------------------------------------------------------------
! Temporal

&temporal_prm

  t_end  = <t_end>
  dt     = <dt>
  nt_max = 10000000

  time_method = <time_method> ! 1 Euler, 2 BDF2, 3 Runge-Kutta

  ins_ti_euler_opt%i_max_p = 1000
  ins_ti_euler_opt%i_max_v = 1000
  ins_ti_euler_opt%r_red   = 1e-12
  ins_ti_euler_opt%r_max   = 1e-14

  ins_ti_bdf2_opt%i_max_p  = 1000
  ins_ti_bdf2_opt%i_max_v  = 1000
  ins_ti_bdf2_opt%r_red    = 1e-12
  ins_ti_bdf2_opt%r_max    = 1e-14

  ins_ti_runge_kutta_opt%n_stage  = 5      ! 4 CB3e, 5 ARS443
  ins_ti_runge_kutta_opt%method   = 1      ! 2 CB3e, 1 ARS443
  ins_ti_runge_kutta_opt%i_max_p  = 1000
  ins_ti_runge_kutta_opt%i_max_v  = 1000
  ins_ti_runge_kutta_opt%r_red    = 1e-10
  ins_ti_runge_kutta_opt%r_max    = 1e-12
/

!-------------------------------------------------------------------------------
! Domains

&cuboid_cartesian_prm
  regular    = F ! mimic irregular mesh (elements deformed or of different size)
  structured = F ! mimic unstructured mesh
  xo = -0.5,-0.5,0
  lx = 1,1,<l3>
  np = <np1>,<np2>,1
  ep = <ep1>,<ep2>,1
  periodic = T,F,T
/
