&control_prm
  solution_method = 21
/

&domain_prm
  test_domain = 0
  gmsh_file   = '../../../../../gmsh/linear_cascade_np'
/

&ml_mesh_options_3d__static
  l_top          =  6    ! top level                                  [1]
  l_max          =  6    ! max number of levels                       [1]
  l_adapt        =  3    ! first level to be adapted ≥1               [huge(1)]
  c_frozen       =  0    ! ignore frozen children when partitioning   [-1]
  n_bnd          =  1    ! number of boundaries to be adapted         [0]
  n_parts_root   = <npr> ! number of partitions at root level         [1]
  n_parts_growth = <npg> ! partition number growth rate               [1]
/

&ml_mesh_options_3d__dynamic
  refinement = 3*'c', 2*'s' ! (1:l_max-1) refinement type {'c','s'}
  adapt_bnd  = 7            ! (1:n_bnd)   boundaries to be adapted
/

&problem_prm
! test_problem =  3
  lambda       =  1 ! Helmholtz parameter
  nu_0         =  1 ! diffusivity mean value ν₀
  nu_1         =  1 ! diffusivity fluctuation amplitude ν₁
  d_nu         = -1.57079632679489661922
  start_values =  2 ! start values, 0/1/2: zero, exact, random
/

&solver_prm

  po = 1, 2, 4, 3*8

  ml_elliptic_opt%penalty        = 5.0   ! penalty parameter > 1    [2]
  ml_elliptic_opt%schwarz%delta  = 0.04  ! relative overlap  ≤ 1    [?]
  ml_elliptic_opt%schwarz%no_min =  1    ! min overlap in points    [?]
  ml_elliptic_opt%fc_projection  = 'I'   ! {'I','P'}                ['I']
  ml_elliptic_opt%start_method   =  2    ! none/CASC/FMG = 0/1/2    [2]
  ml_elliptic_opt%smooth_method  =  3    ! CG/WS/SPCG    = 1/2,3    [2]
  ml_elliptic_opt%coarse_solver  =  3    ! CG/WS/SPCG    = 1/2,3    [3]

  ml_elliptic_opt%i_crs = 10000  ! max num coarse solver iterations   [1]
  ml_elliptic_opt%i_max = <imax> ! max num multigrid iterations       [1]
  ml_elliptic_opt%ns_1  =  <ns1> ! num pre-smoothing steps            [1]
  ml_elliptic_opt%ns_2  =  <ns2> ! num post-smoothing steps           [1]
  ml_elliptic_opt%ns_c  =  <nsc> ! num continuation smoothing steps   [1]
  ml_elliptic_opt%r_red =  1e-10 ! min residual reduction            [-1]
  ml_elliptic_opt%r_max =  1e-12 ! max admissible residual           [-1]
/
