!-------------------------------------------------------------------------------
! Control

&control_prm
  problem_file = 'stokes_dkm'
  flow_problem = 'Stokes_DKM'
  flow_domain  = 1
! export_vtk   = T  ! set T for generating plot files
! char_freq    = 0  ! set frequency of control output
/

!-------------------------------------------------------------------------------
! Spatial

&spatial_prm
  ins_op_opt%dealiasing = F
  ins_op_opt%mu_0       = <mu>
  ins_op_opt%i_max_p    = 10000
  ins_op_opt%i_max_v    = 10000
  ins_op_opt%k_max      = 0
  ins_op_opt%k_pre_p    = 1000
  ins_op_opt%k_pre_v    = 1000
  ins_op_opt%r_red      = 1e-10
  ins_op_opt%r_max      = 1e-12

  po_u = <po_u>
  po_p = <po_p>
/

!-------------------------------------------------------------------------------
! Temporal

&temporal_prm

  t_end  = 0.1
  dt     = <dt>
  nt_max = 100000000

  time_method = 2  ! 1/2 Euler/BDF2
/

!-------------------------------------------------------------------------------
! Domain

&cuboid_cartesian_prm
  xo = -1, -1, 0
  lx =  2,  2, <dx>
  np = <np>,<np>,1
  ep = <ep>,<ep>,1
  periodic = F,F,T
/
